<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INominalLedgerService" />
                <binding name="BasicHttpBinding_ICredentialsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lfs1.bsppl.net/NominalLedgerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INominalLedgerService"
                contract="NominalLedger.INominalLedgerService" name="BasicHttpBinding_INominalLedgerService" />
            <endpoint address="http://lfs1.bsppl.net/CredentialsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICredentialsService"
                contract="CredentialService.ICredentialsService" name="BasicHttpBinding_ICredentialsService" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="Database" value="BSTest"/>
    <add key="UserID" value="SA"/>
    <add key="UserName" value="sa"/>
    <add key="Password" value="**password**"/>
    <add key="server" value="lfs1.bsppl.net"/>
    <add key="SiteReference" value="**site reference**"/>
    <add key="HomeTaxValue" value="0.23"/>

    <add key="GCNC GBP" value="0003199100GBP"/>
    <add key="TCNC GBP" value="0003199410GBP"/>

    <add key="GCNC USD" value="0003199100USD"/>
    <add key="TCNC USD" value="0003199410USD"/>
    <add key="CCODE USD" value="USDR"/>

    <add key="GCNC EUR" value="0000000000EUR"/>
    <add key="TCNC EUR" value="0000000000EUR"/>
    <add key="CCODE EUR" value="EURR"/>

    <add key="ExchangeRate" value="1.2"/>

    <add key="Csv" value="C:\Users\Abraham.Glover\Source\Repos\biochemsoap\ADI\example.csv"/>
  </appSettings>
</configuration>