<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INominalLedgerService" />
                <binding name="BasicHttpBinding_ICredentialsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://appdimensions.uksouth.cloudapp.azure.com/AccessDWS/CredentialsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICredentialsService"
                contract="CredentialService.ICredentialsService" name="BasicHttpBinding_ICredentialsService" />
            <endpoint address="http://appdimensions.uksouth.cloudapp.azure.com/AccessDWS/NominalLedgerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INominalLedgerService"
                contract="NominalLedger.INominalLedgerService" name="BasicHttpBinding_INominalLedgerService" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="Database" value="BSTest"/>
    <add key="UserID" value="masterfinance"/>
    <add key="UserName" value="masterfinance"/>
    <add key="Password" value=""/>
    <add key="Server" value="appdimensions.uksouth.cloudapp.azure.com"/>
    <add key="SiteReference" value="DM5544"/>
    <add key="HomeTaxValue" value='0.20'/>

    <add key="GCNC GBP" value="0003199100GBP"/>
    <add key="TCNC GBP" value="0003199410GBP"/>

    <add key="GCNC USD" value="0003199100USD"/>
    <add key="TCNC USD" value="0003199410USD"/>
    <add key="CCODE USD" value="USDR"/>

    <add key="GCNC EUR" value="0000000000EUR"/>
    <add key="TCNC EUR" value="0000000000EUR"/>
    <add key="CCODE EUR" value="EURR"/>

    <add key="ExchangeRate" value="1.2"/>

    <add key="Csv" value="C:\Users\Abraham.Glover\Source\Repos\biochemsoap\ADI\example.csv"/>

    <add key="soapuri" value="https://app4.thinksubscription.com:443/soap.slap"/>
    <add key="pp24209_view_journal_select_request_xml_path" value="~\\App_Data\\pp24209_view_journal_select_request.xml"/>
    <add key="soapjournalaction" value="http://Think/XmlWebServices/Pp24209ViewJournalSelect"/>
  </appSettings>
  <applicationSettings>
    <ADI.Properties.Settings>
      <setting name="ADI_Think_ThinkWS" serializeAs="String">
        <value>http://localhost:85/soap.slap</value>
      </setting>
    </ADI.Properties.Settings>
  </applicationSettings>
</configuration>